.winner {
    color: rgb(219, 54, 21);
}

#doll {
    height: 100px;
    position: absolute;
    right: 100px;
}

#header {
    display: flex;
    flex-wrap:initial;
    height: 100px;
    width: auto;
    background-color: black;
    font-size: 150%;

}

#title {
    color: aliceblue;
    position: absolute;
    left: 50px;
}

body {
    background-color: black;
}

.text {
    color: aliceblue;
    font-family: 'Staatliches', cursive;
}

.button {
    border-radius: 12px;
    background-color:  rgb(219, 54, 21);
    color: aliceblue;
    font-family: 'Staatliches', cursive;
    padding: 12px 28px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 120%;

   
    
}
.button:hover {
    background-color: #6b1313; 
    color: white;
    box-shadow: 0 8px 16px rgb(89, 88, 88), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
  }

  #playing {
      font-size: 250%;
      text-align: center;
  }

  #score {
      font-size: 350%;
      text-align: center;
  }

  #input {
      height: 50px;
      width: 250px;
      font-size: 20px;
      border-radius: 4px;
      text-align: center;
  }

  .flex-con {
    display: flex;
    justify-content: center;
  }

  hr {
    border: 0;
    height: 0px; 
    box-shadow: 0 0 25px 1px rgb(250, 250, 250);
  }
  /* #number {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
  } */
